.root {
  background: var(--color-chat-bg);
  border: 1px solid var(--color-chat-border);
  overflow: auto;
  height: 100vh;
}

.item {
  padding: 8px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--color-border-light);

  cursor: pointer;
  transition: color, background ease 0.3s;
  user-select: none;

  &:hover {
    background: var(--color-chat-hover);
  }

  &.itemSelected {
    background: var(--color-chat-active);
    border-left: 3px solid var(--color-primary);
  }
}

.lastMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary);
  font-size: 12px;
}
