.root {
  background: var(--color-chat-bg);
  border: 1px solid var(--color-chat-border);
  overflow: auto;
  height: 100vh;
}

.item {
  padding: 8px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--color-border-light);
  display: flex;
  gap: 8px;
  overflow: hidden;

  cursor: pointer;
  transition: color, background ease 0.3s;
  user-select: none;

  &:hover {
    background: var(--color-chat-hover);
  }

  &.itemSelected {
    background: var(--color-chat-active);
    border-left: 3px solid var(--color-primary);
  }
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  flex: 0 0 auto;
}

.messagePreview {
  flex: 1;
  overflow: hidden;
}

.lastMessage {
  display: flex;
  color: var(--text-secondary);
  font-size: 12px;
}

.lastMessageText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lastMessageTimestamp {
  margin-left: auto;
  white-space: nowrap;
}
