.root {
  border: 1px solid var(--border-color);
  overflow: auto;
  height: 100vh;
}

.item {
  padding: 8px;
  background-color: var(--bg-primary);
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: all ease 0.3s;
  user-select: none;

  &:hover {
    background-color: var(--hover-bg);
  }

  &.itemSelected {
    background-color: var(--selected-bg);
  }
}

.lastMessage {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-secondary);
  font-size: 12px;
}
