.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--color-bg-tertiary);
  position: relative;
}

.scrollDownButton {
  position: absolute;
  right: 64px;
  bottom: 64px;
  z-index: 2;
}

.scrollDownButtonHidden {
  opacity: 0;
}

.messageWrapper {
  padding-top: 4px;
  padding-bottom: 4px;
}

.message {
  padding: 12px 16px;
  background: var(--color-message-other-bg);
  color: var(--color-message-other-text);
  border: 1px solid var(--color-message-border);
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: 16px;
  margin-right: 16px;
  width: 50%;
}

.messageMy {
  margin-left: auto;
  color: var(--color-message-my-text);
  background: var(--color-message-my-bg);
}

.messageHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6px;
  gap: 8px;
}

.messageAvatar {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  color: white;
  border-radius: 50%;
}

.messageAuthor {
  font-weight: 600;
  color: var(--text-primary);
  font-size: 14px;
}

.messageMy .messageAuthor {
  color: var(--text-secondary);
}

.messageTime {
  margin-left: auto;
  font-size: 12px;
  color: var(--color-text-tertiary);
}

.messageMy .messageTime {
  color: var(--color-message-my-time);
}

.messageText {
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-wrap;
}
